.item-item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 70%;
  gap: 10%;
  margin-top: 5%;
}

.single-item {
  margin-block: 5%;
}

.item-list-show-more {
  text-align: center;
  padding-bottom: 50px;
}
